.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: #fff;
  margin-bottom: 1rem;
}

.header-link {
  color: #fff;
  text-decoration: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.record {
  border: 1px solid #ccc!important;;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

.form {
  margin-bottom: 40px;
}

.form-control {
  margin: 1rem 0;
}

.form-control label {
  display: block;
  font-weight: 600;
  font-size: xx-large;
}

.form-control input, textarea, select {
  width: 80%;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.settings-link {
  position: absolute;
  right: 1rem;
}

.form-control-settings input {
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-settings-remove {
  display: inline-block;
  background: lightcoral;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

.btn-settings-add {
  display: inline-block;
  background: lightgreen;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}